<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- D24-OFF device evidence measures the app UID. Disable Firebase-owned
             auto-init in this OFF-only variant so UID traffic cannot be mistaken
             for an app-owned REST/WS/device-registration side effect. -->
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
    </application>
</manifest>
